<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Speed Admin</title>

    <link href="{{ asset('midia/styles/min.css') }}" rel="stylesheet">

</head>

<body>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Speed Login</h3>
                </div>
                <div class="panel-body">
                    <form role="form" method="post" action="/login/autenticar">
                        {% for alert in app.session.flashbag.get('mensagem') %}

                            <div class="alert alert-{{ alert.tipo }} alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                {{ alert.mensagem }}
                            </div>
                            <br>
                        {% endfor %}
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="E-mail" name="email" type="email" autofocus>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Password" name="password" type="password" value="">
                            </div>
                            {#<div class="checkbox">#}
                                {#<label>#}
                                    {#<input name="remember" type="checkbox" value="Remember Me">Remember Me#}
                                {#</label>#}
                            {#</div>#}
                            <!-- Change this to a button or input when using this as a form -->
                            <button type="submit" class="btn btn-lg btn-success btn-block">Login</button>
                        </fieldset>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ asset('midia/js/min-min.js') }}"></script>

</body>

</html>
